<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <R_FULLSCREEN>false</R_FULLSCREEN>
  <R_BORDERLESS>false</R_BORDERLESS>
  <R_RESIZABLE>false</R_RESIZABLE>
  <R_FULLSCR_WINDOWED>false</R_FULLSCR_WINDOWED>
  <SCREEN_WIDTH>640</SCREEN_WIDTH>
  <SCREEN_HEIGHT>480</SCREEN_HEIGHT>
  <WINDOW_TITLE>"My Game"</WINDOW_TITLE>
  <SCALE>1</SCALE>
  <ORGANIZATION>"aaaaaaaaaaaaaa"</ORGANIZATION>
  <APPNAME>"rdjyjdryje"</APPNAME>
  
  <app>
    
  </app>
  
  <j1Input>
    
  </j1Input>
  
  <j1Window>
    
  </j1Window>
  
  <j1Render>
    
  </j1Render>
  
  <j1Textures>
    
  </j1Textures>
  
  <j1Audio>
    
  </j1Audio>
  
  <j1Scene>
    
  </j1Scene>
  
  <j1FileSystem>
    
  </j1FileSystem>
  
</configuration>



/*
HOMEWORK:

  1. Fill a config.xml with a asection per module that has the same name
  2. Add functionality to App to send the correct xml_node to each module
  3. Remove all configuration defines from defs.h

*/